h1,
h2,
h3 {
  text-align: center;
}

header {
  background: #fbdbc0;
  padding-top: 120px;
  padding-bottom: 100px;
}

.navigation-links,
.project-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.project-links {
  margin-top: 200px;
}

.navigation-links a,
.button-links a,
.project-links a {
  margin: 20px;
  border-radius: 3px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.button-links {
  display: block;
  justify-content: center;
}

.project-link,
.contact-link:hover {
  background: #8b0000;
  color: #fbdbc0;
}
.project-link:hover,
.contact-link {
  color: #8b0000;
  background: #fbdbc0;
  border: 1px solid #8b0000;
}

#about-photo img,
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

#about-section {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
}

#about-text p {
  padding: 100px 20px;
}

.card {
  border: none !important;
}
