h1,
h2,
#web,
#photo,
#fashion {
  text-align: center;
}

header {
  background: #fbdbc0;
  padding-top: 120px;
  padding-bottom: 100px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 3px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.project-link {
  background: #8b0000;
  color: #fbdbc0;
}
.project-link:hover {
  color: #8b0000;
  background: #fbdbc0;
  border: 1px solid #8b0000;
}

.contact-link {
  color: #8b0000;
  background: #fbdbc0;
  border: 1px solid #8b0000;
}

.contact-link:hover {
  background: #8b0000;
  color: #fbdbc0;
}

#fashion img,
#photo img,
#web img {
  max-width: 450px;
  height: auto;
  margin: 0;
}

#about-photo img {
  max-width: 630px;
  height: auto;
}

#about-section,
#project-section {
  padding: 50px 0;
}

#about-text p {
  padding: 100px 20px;
}
